* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./Assets/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #063504;
    line-height: 1.6;
     background-image: url('./Assets/pexels-igor-link-334249-933118.jpg');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f5c47c;
}

.text {
    font-size: 28px;
    color: #d8a558;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-top: 75px;
    text-align: center;
}

.p {
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.form {
    width: 90%;
    max-width: 600px;
    padding: 25px 30px;
    margin: 160px auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row input {
    flex: 1;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

button[type="submit"] {
    padding: 12px;
    background-color: #8e78f0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero {
  height: 100vh;
  background-image: url('./Assets/Carly-Dylan-Wedding-Film+371_websize.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 100px;
  position: relative;
}

