* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./Assets/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #063504;
    line-height: 1.6;
    background-color: #374736;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f5c47c;
}

.text {
    font-size: 28px;
    color: #d8a558;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-top: 190px;
    text-align: center;
}

.p {
    font-size: small;
}

.form {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: aqua;
    margin: 150px;
    border-radius: 14px;
}
#emailtad {
    justify-content: center;
    padding-left: 100px;
}

