* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('./Assets/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f5c47c;
}


.pricelist-section {
  padding-top: 150px;
  text-align: center;
}

.pricelist-title {
  font-size: 48px;
  color: #f5c47c;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.price-card {
  background-color: rgba(255, 239, 220, 0.95);
  color: #2c2c2c;
  border-radius: 10px;
  padding: 30px 20px;
  width: 250px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.price-card, .event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.4);
}

.price-card h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.price {
  font-weight: bold;
  font-size: 20px;
  color: #2c2c2c;
  margin-bottom: 15px;
}

.price-card ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.price-card ul li {
  margin: 8px 0;
  padding-left: 20px;
  position: relative;
}

.price-card ul li :before {
  content: "●";
  position: absolute;
  left: 0;
  color: #1d1e7d;
  font-size: 14px;
}

.price-card button {
  background-color: #2d2c6e;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.price-card button:hover {
  background-color: #1b1a50;
}

